@import '../../assets/styles/toolsBundler.scss';

#experiences {

    .fa-icon,
    i {
        color: $cv-gold;
        font-style: initial;
    }

    #experiencesCtn {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 1em;
        margin-bottom: 40px;

        &>div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #fff;
            opacity: 0;
            max-width: 22%;
            font-size: 1em;
            padding: 20px 15px;
            border-radius: .4em;
            margin: 0 1em;
            margin-bottom: 1.5em;

            a,
            i {
                color: #ffcc00;
                padding: .1em .2em;
                transition-duration: .3s;

                .fa-icon {
                    transition-duration: .3s;
                    margin-right: .2em;
                }
            }

            a:hover {
                background: #000;
                border-radius: .2em;

                .fa-icon {
                    color: $cv-gold !important;
                }
            }

            p {
                margin-bottom: 0;
            }

            &:nth-child(n) {
                background-color: rgb(53, 53, 53);
                box-shadow: 2px 2px 4px rgb(53, 53, 53);
            }

            &:nth-child(2n) {
                color: initial;
                background-color: $cv-grey;
                box-shadow: 2px 2px 4px rgb(231, 231, 231);

                i {
                    background: #000;
                    border-radius: .2em;
                }

                a {
                    background: #000;
                    border-radius: .2em;


                    &:hover {
                        color: #fff;
                    }
                }

            }
        }

        #hotcityInternship {
            #hotcityLetter {
                display: flex;
                align-items: center;
            }
        }
    }
}


@media (max-width: $BIG_SCREEN_MIN_SIZE) {
    #experiences {
        #experiencesCtn {
            padding: 0;
            justify-content: center;

            div {
                max-width: 80%;
                font-size: 1.3em;
            }
        }
    }
}