@import "../../assets/styles/variables.scss";

#presentation {
    header {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $cv-gold;

        h1 {
            color: #000;
            margin-top: 5vh;
            font-size: 3em;
            z-index: 1;
        }

        p {
            color: $cv-gold;
            background-color: #000;
            padding: .1em .3em;
            border-radius: .2em;
            font-size: 1.2rem;
            z-index: 1;
        }


        #waveSvg {
            position: absolute;
            top: 100%;
            transform: translateY(-30%);
            width: 100vw;
            opacity: 0;

            svg {
                width: 100vw;
                fill: $cv-gold;
            }
        }
    }

    .my-face-ctn {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            opacity: 0;
            height: 30vh;
            border-radius: 50%;
            border: solid .4em $lightWhite;
        }
    }


    .presentation-text {
        opacity: 0;
        margin-top: 4em;
        padding: 0 10%;
        color: rgb(117, 117, 117);
        font-size: 1.4em;
        text-align: center;

        a {
            color: $cv-gold;
            text-shadow: 1px 1px rgb(117, 117, 117);
        }

        i {
            font-family: 'ubuntu';
            font-size: 1.6rem;
        }
    }


    #swipeIndication {
        position: fixed;
        bottom: 1em;
        right: 1em;
        display: flex;
        justify-content: right;
        align-content: center;
        text-align: right;
        font-size: 1rem;
        color: #000;
        background-color: $cv-gold;
        border-radius: .4em;
        padding: .2em .4em;

        &.close {
            animation: goDown .5s forwards !important;
        }

        p {
            margin: 0;
        }
    }

}

@keyframes topApparition {
    0% {
        opacity: 1;
        margin-top: -20%;
    }


    100% {
        margin-top: 0;
        opacity: 1;
    }
}


@media (max-width: $BIG_SCREEN_MIN_SIZE) {
    #presentation {
        header {
            #waveSvg {
                transform: translateY(-10%);
            }

            h1 {
                font-size: 2em;
                margin-left: -.5em;
            }
        }

        .my-face-ctn img {
            height: 20vh;
        }

        .presentation-text {
            margin-top: 1em;
        }
    }
}