@import "../../styles/toolsBundler.scss";

.tooltip-pr {
    &~.tooltip {
        &>.tooltip-inner {
            margin-right: 500px;
        }
    }
}

#navbar {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    width: 4em;
    height: 4em;
    border-radius: 0 0 0 100%;
    background-color: black;
    transition-duration: 0.5s;
    color: $lightWhite;
    z-index: 10;
    animation: hideMenuAnimation 0.5s forwards;

    &.open {
        animation: showMenuAnimation 0.5s forwards;

        .container {
            display: flex;
            animation: apparition 0.5s forwards;
            animation-delay: .6s;
        }
    }

    .clickable {
        &:hover {
            color: $cv-gold !important;
        }
    }

    .burger {
        position: relative;
        display: flex;
        height: fit-content;
        cursor: pointer;
        font-size: 1.5em;
        top: .3em;
        left: 1em;

        &.selected {
            color: $cv-gold;
        }
    }

    .container {
        display: none;
        font-family: 'ubuntu';
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-top: 3em;
        opacity: 0;

        ul {
            margin-top: 4em;
            padding-left: 40px;
            border-left: solid $lightWhite 3px;

            li {
                list-style-type: none;
                transition-duration: 0.5s;

                a {
                    font-size: 1.2em;
                    color: $lightWhite;
                    text-decoration: none;

                    &:hover {
                        transform: translateX(-.5em);
                        color: $cv-gold;
                    }
                }
            }
        }

        #professionalLinks {
            position: absolute;
            top: .3em;
            right: 1em;

            a {
                font-size: 1.5em;
                margin: 0 .2em;
                color: #fff;

                &#stackoverflow {
                    .reputation {
                        font-size: .5em;
                        color: $cv-gold;
                    }
                }
            }

            .tooltip-inner {
                background-color: #00cc00;
            }
        }

        #languageSelection {
            display: flex;
            justify-content: space-around;
            width: 60%;
            margin-top: 1em;

            svg {
                width: 10vw;
                border-radius: .3em;
                transition-duration: .2s;

                &.selected,
                &:hover {
                    border: solid .15em $cv-gold;
                    padding: .15em;
                }
            }
        }

        #gitlabRepo {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2em;

            svg {
                width: 4.5em;
            }

            h2 {
                margin-top: .2em;
                font-size: .9em;
                color: #000;
                padding: .2em .3em;
                border-radius: .2em;
                background-color: $gitlab-main-color;
            }
        }
    }

    &:hover {
        width: 100px;
        height: 95px;

        #icon div {
            background-color: $cv-gold;
        }
    }
}

@keyframes showMenuAnimation {
    from {
        width: 4em;
        height: 4em;
    }

    to {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

@keyframes hideMenuAnimation {
    from {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    to {
        width: 4em;
        height: 4em;
    }
}


// TODO: Move to style.scss
@keyframes apparition {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (min-width: $BIG_SCREEN_MIN_SIZE) {
    #navbar {
        .container {
            ul {
                li {
                    font-size: 1.5em;
                }
            }

            #languageSelection {
                max-width: 25vw;

                svg {
                    width: 7vh;
                }
            }
        }
    }
}